<a href="https://colab.research.google.com/github/darkshadow013/ML-practice/blob/master/Kaggle/titanic/titanic_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%javascript
function ClickConnect(){
console.log("Working");
document.querySelector("colab-toolbar-button#connect").click()
}setInterval(ClickConnect,60000)

In [ ]:
!git clone https://gist.github.com/darkshadow013/2b43e1c8f15b72d37a1c97cb0f154b84 gist
!(mkdir -p kaggle && cp /content/gist/kaggle.json /content/kaggle/kaggle.json && rm -r /content/gist)

import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/kaggle"
!(mkdir -p dataset)
%cd dataset
!kaggle competitions download -c titanic
!unzip \*.zip  && rm *.zip
%cd ..

Cloning into 'gist'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.
/content/dataset
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
Downloading gender_submission.csv to /content/dataset
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 6.34MB/s]
Downloading test.csv to /content/dataset
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 25.2MB/s]
Downloading train.csv to /content/dataset
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 31.8MB/s]
unzip:  cannot find or open *.zip, *.zip.zip or *.zip.ZIP.

No zipfiles found.
/content

In [ ]:
import pandas as pd

train_df = pd.read_csv("dataset/train.csv")
test_df = pd.read_csv("dataset/test.csv")

In [ ]:
train_df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [ ]:
test_df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [ ]:
passenger_id = test_df['PassengerId']
test_df.drop(columns= ['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace= True, axis=1)
train_df.drop(columns= ['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace= True, axis=1)

KeyError: ignored

In [ ]:
train_df.head()

In [ ]:
test_df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [ ]:
train_df['Age'] = train_df['Age'].fillna((train_df['Age'].min() + train_df['Age'].max())/2)
test_df['Age'] = test_df['Age'].fillna((test_df['Age'].min() + test_df['Age'].max())/2)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [ ]:
test_df['Fare'] = test_df['Fare'].fillna((test_df['Fare'].mean()))

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [ ]:
p = dict(train_df['Embarked'].value_counts(ascending= True))
Keymax = max(p, key= lambda x: p[x])

In [ ]:
train_df['Embarked'] = train_df['Embarked'].fillna(Keymax)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
train_df['Embarked'] = le1.fit_transform(train_df['Embarked'])

In [ ]:
test_df['Embarked'] = le1.transform(test_df['Embarked'])

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [ ]:
le1 = LabelEncoder()
train_df['Sex'] = le1.fit_transform(train_df['Sex'])
test_df['Sex'] = le1.transform(test_df['Sex'])

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    int64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 23.0 KB

In [ ]:
y = train_df['Survived']
train_df.drop(columns= ['Survived'], inplace=True, axis= 1)

In [ ]:
train_df = train_df.astype(float)
test_df = test_df.astype(float)

In [ ]:
X = train_df

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    float64
 1   Sex       891 non-null    float64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    float64
 4   Parch     891 non-null    float64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    float64
dtypes: float64(7)
memory usage: 48.9 KB

In [ ]:
y = y.to_frame()

In [ ]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.1, random_state = 42)

In [ ]:
%whos

Variable           Type            Data/Info
--------------------------------------------
Keymax             str             S
LabelEncoder       type            <class 'sklearn.preproces<...>ing._label.LabelEncoder'>
X                  DataFrame            Pclass  Sex    Age  <...>n\n[891 rows x 7 columns]
le1                LabelEncoder    LabelEncoder()
os                 module          <module 'os' from '/usr/lib/python3.6/os.py'>
p                  dict            n=3
passenger_id       Series          0       892\n1       893\<...>Length: 418, dtype: int64
pd                 module          <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
test_df            DataFrame            Pclass  Sex     Age <...>n\n[418 rows x 7 columns]
train_df           DataFrame            Pclass  Sex    Age  <...>n\n[891 rows x 7 columns]
train_test_split   function        <function train_test_split at 0x7fcbcea36378>
x_test             DataFrame            Pclass  Sex    Age  <...>\n\n[90 rows x 7 columns]
x_train            DataFrame            Pclass  Sex    Age  <...>n\n[801 rows x 7 columns]
y                  DataFrame            Survived\n0         <...>n\n[891 rows x 1 columns]
y_test             DataFrame            Survived\n709       <...>\n\n[90 rows x 1 columns]
y_train            DataFrame            Survived\n165       <...>n\n[801 rows x 1 columns]

In [ ]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(801, 7) (801, 1)
(90, 7) (90, 1)

In [ ]:
from tensorflow import keras
from keras.layers import Dense,Activation
from keras.models import Sequential

model = Sequential()
model.add(Dense(100, input_shape=(X.shape[1],)))
model.add(Activation('relu'))
model.add(Dense(100))
model.add(Activation('relu'))
model.add(Dense(100))
model.add(Activation('relu'))
model.add(Dense(80))
model.add(Activation('relu'))
model.add(Dense(60))
model.add(Activation('relu'))
model.add(Dense(1))
model.add(Activation('softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               800
_________________________________________________________________
activation (Activation)      (None, 100)               0
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
activation_1 (Activation)    (None, 100)               0
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
activation_2 (Activation)    (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 80)                8080
_________________________________________________________________
activation_3 (Activation)    (None, 80)                0
_________________________________________________________________
dense_4 (Dense)              (None, 60)                4860
_________________________________________________________________
activation_4 (Activation)    (None, 60)                0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 61
_________________________________________________________________
activation_5 (Activation)    (None, 1)                 0
=================================================================
Total params: 34,001
Trainable params: 34,001
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer= 'adam',
              loss= 'binary_crossentropy',
              metrics= ['accuracy'])

In [ ]:
import os
if(os.path.exists('/content/trained_model.h5')):
  # load the model architecture and weights
  model.load_weights("/content/trained_model.h5")
else:
  # Start to train model
  r = model.fit(x_train,y_train, 
        batch_size = 32, 
        epochs = 50, 
        verbose = 2, 
        validation_data=(x_test,y_test))
  # save the model with h5py
  import h5py
  model.save('/content/trained_model.h5')

Epoch 1/50
26/26 - 0s - loss: 0.3259 - accuracy: 0.3820 - val_loss: 0.5550 - val_accuracy: 0.4000
Epoch 2/50
26/26 - 0s - loss: 0.3144 - accuracy: 0.3820 - val_loss: 0.6249 - val_accuracy: 0.4000
Epoch 3/50
26/26 - 0s - loss: 0.3315 - accuracy: 0.3820 - val_loss: 0.5767 - val_accuracy: 0.4000
Epoch 4/50
26/26 - 0s - loss: 0.3406 - accuracy: 0.3820 - val_loss: 0.6057 - val_accuracy: 0.4000
Epoch 5/50
26/26 - 0s - loss: 0.3219 - accuracy: 0.3820 - val_loss: 0.6006 - val_accuracy: 0.4000
Epoch 6/50
26/26 - 0s - loss: 0.3140 - accuracy: 0.3820 - val_loss: 0.6500 - val_accuracy: 0.4000
Epoch 7/50
26/26 - 0s - loss: 0.3089 - accuracy: 0.3820 - val_loss: 0.6491 - val_accuracy: 0.4000
Epoch 8/50
26/26 - 0s - loss: 0.3265 - accuracy: 0.3820 - val_loss: 0.4894 - val_accuracy: 0.4000
Epoch 9/50
26/26 - 0s - loss: 0.3135 - accuracy: 0.3820 - val_loss: 0.5789 - val_accuracy: 0.4000
Epoch 10/50
26/26 - 0s - loss: 0.3093 - accuracy: 0.3820 - val_loss: 0.5819 - val_accuracy: 0.4000
Epoch 11/50
26/26 - 0s - loss: 0.3254 - accuracy: 0.3820 - val_loss: 0.5688 - val_accuracy: 0.4000
Epoch 12/50
26/26 - 0s - loss: 0.3138 - accuracy: 0.3820 - val_loss: 0.6831 - val_accuracy: 0.4000
Epoch 13/50
26/26 - 0s - loss: 0.3261 - accuracy: 0.3820 - val_loss: 0.6823 - val_accuracy: 0.4000
Epoch 14/50
26/26 - 0s - loss: 0.3091 - accuracy: 0.3820 - val_loss: 0.6465 - val_accuracy: 0.4000
Epoch 15/50
26/26 - 0s - loss: 0.3105 - accuracy: 0.3820 - val_loss: 0.6179 - val_accuracy: 0.4000
Epoch 16/50
26/26 - 0s - loss: 0.3016 - accuracy: 0.3820 - val_loss: 0.8082 - val_accuracy: 0.4000
Epoch 17/50
26/26 - 0s - loss: 0.3068 - accuracy: 0.3820 - val_loss: 0.5828 - val_accuracy: 0.4000
Epoch 18/50
26/26 - 0s - loss: 0.2958 - accuracy: 0.3820 - val_loss: 0.6476 - val_accuracy: 0.4000
Epoch 19/50
26/26 - 0s - loss: 0.2871 - accuracy: 0.3820 - val_loss: 0.8024 - val_accuracy: 0.4000
Epoch 20/50
26/26 - 0s - loss: 0.2862 - accuracy: 0.3820 - val_loss: 0.7352 - val_accuracy: 0.4000
Epoch 21/50
26/26 - 0s - loss: 0.2798 - accuracy: 0.3820 - val_loss: 0.6666 - val_accuracy: 0.4000
Epoch 22/50
26/26 - 0s - loss: 0.2874 - accuracy: 0.3820 - val_loss: 0.5885 - val_accuracy: 0.4000
Epoch 23/50
26/26 - 0s - loss: 0.4591 - accuracy: 0.3820 - val_loss: 0.7336 - val_accuracy: 0.4000
Epoch 24/50
26/26 - 0s - loss: 0.3794 - accuracy: 0.3820 - val_loss: 0.6324 - val_accuracy: 0.4000
Epoch 25/50
26/26 - 0s - loss: 0.3435 - accuracy: 0.3820 - val_loss: 0.5956 - val_accuracy: 0.4000
Epoch 26/50
26/26 - 0s - loss: 0.3553 - accuracy: 0.3820 - val_loss: 0.5865 - val_accuracy: 0.4000
Epoch 27/50
26/26 - 0s - loss: 0.3241 - accuracy: 0.3820 - val_loss: 0.5457 - val_accuracy: 0.4000
Epoch 28/50
26/26 - 0s - loss: 0.3107 - accuracy: 0.3820 - val_loss: 0.6079 - val_accuracy: 0.4000
Epoch 29/50
26/26 - 0s - loss: 0.2928 - accuracy: 0.3820 - val_loss: 0.7470 - val_accuracy: 0.4000
Epoch 30/50
26/26 - 0s - loss: 0.2944 - accuracy: 0.3820 - val_loss: 0.7086 - val_accuracy: 0.4000
Epoch 31/50
26/26 - 0s - loss: 0.3149 - accuracy: 0.3820 - val_loss: 0.5896 - val_accuracy: 0.4000
Epoch 32/50
26/26 - 0s - loss: 0.3205 - accuracy: 0.3820 - val_loss: 0.7416 - val_accuracy: 0.4000
Epoch 33/50
26/26 - 0s - loss: 0.3322 - accuracy: 0.3820 - val_loss: 0.6298 - val_accuracy: 0.4000
Epoch 34/50
26/26 - 0s - loss: 0.3122 - accuracy: 0.3820 - val_loss: 0.5797 - val_accuracy: 0.4000
Epoch 35/50
26/26 - 0s - loss: 0.2884 - accuracy: 0.3820 - val_loss: 0.6668 - val_accuracy: 0.4000
Epoch 36/50
26/26 - 0s - loss: 0.2947 - accuracy: 0.3820 - val_loss: 0.5690 - val_accuracy: 0.4000
Epoch 37/50
26/26 - 0s - loss: 0.2888 - accuracy: 0.3820 - val_loss: 0.6254 - val_accuracy: 0.4000
Epoch 38/50
26/26 - 0s - loss: 0.2803 - accuracy: 0.3820 - val_loss: 0.6207 - val_accuracy: 0.4000
Epoch 39/50
26/26 - 0s - loss: 0.2881 - accuracy: 0.3820 - val_loss: 0.5210 - val_accuracy: 0.4000
Epoch 40/50
26/26 - 0s - loss: 0.2724 - accuracy: 0.3820 - val_loss: 0.6269 - val_accuracy: 0.4000
Epoch 41/50
26/26 - 0s - loss: 0.3282 - accuracy: 0.3820 - val_loss: 0.7054 - val_accuracy: 0.4000
Epoch 42/50
26/26 - 0s - loss: 0.3103 - accuracy: 0.3820 - val_loss: 0.6159 - val_accuracy: 0.4000
Epoch 43/50
26/26 - 0s - loss: 0.3010 - accuracy: 0.3820 - val_loss: 0.6842 - val_accuracy: 0.4000
Epoch 44/50
26/26 - 0s - loss: 0.3504 - accuracy: 0.3820 - val_loss: 0.5620 - val_accuracy: 0.4000
Epoch 45/50
26/26 - 0s - loss: 0.3008 - accuracy: 0.3820 - val_loss: 0.6632 - val_accuracy: 0.4000
Epoch 46/50
26/26 - 0s - loss: 0.2950 - accuracy: 0.3820 - val_loss: 0.5309 - val_accuracy: 0.4000
Epoch 47/50
26/26 - 0s - loss: 0.2873 - accuracy: 0.3820 - val_loss: 0.6737 - val_accuracy: 0.4000
Epoch 48/50
26/26 - 0s - loss: 0.4897 - accuracy: 0.3820 - val_loss: 0.4866 - val_accuracy: 0.4000
Epoch 49/50
26/26 - 0s - loss: 0.3753 - accuracy: 0.3820 - val_loss: 0.5857 - val_accuracy: 0.4000
Epoch 50/50
26/26 - 0s - loss: 0.3370 - accuracy: 0.3820 - val_loss: 0.5307 - val_accuracy: 0.4000

In [ ]:
y_pred = model.predict(test_df)

In [ ]:
print(y_pred)